                            * {
                                font-family: Helvetica, Arial, sans-serif;
                                line-height: 1.6;
                            }
                            /* body {
                                background-image: url("img/bg.jpg");
                                margin-left: 100px;
                            } */
                            
                            h2 {
                                color: #1fabe5;
                            }
                            
                            h3 {
                                color: #1fabe5;
                            }
                            
                            #site_header {
                                background-color: #ff8523;
                                padding: 2rem;
                            }
                            
                            .main_navigation a {
                                text-decoration: none;
                                border-style: solid;
                                border-spacing: 10px;
                                border-color: white;
                                font-family: Arial, sans-serif;
                                color: white;
                                border-radius: 4px;
                                Font-size: 30px
                            }
                            
                            #page_content ul li a {
                                font-weight: bold;
                                color: black;
                            }
                            /* section {
                                border-bottom: solid lightgray;
                                padding: 2rem;
                            } */
                            
                            thead {
                                background-color: #1fabe5;
                                color: white;
                            }
                            
                            td img {
                                width: 50%;
                            }
                            
                            td, table {
                                /* tr td  { */
                                /* outline-style: solid; */
                                /* outline-color: #1fabe5; */
                                border: 1px solid lightblue;
                                text-align: center;
                                vertical-align: middle;
                                padding: 2rem;
                                border-collapse: collapse;
                                /* top border: solid;
            left border: solid;
            right border: solid; */
                                /* table-layout: tab */
                                line-height: -1.6;
                            }
                            
                            form {
                                background-color: #dddddd;
                                padding: 5rem;
                                Font: white;
                            }
                            /* #action {
            background-color: #dddddd;
        } */
                            
                            .name {
                                color: white;
                                /* border-style: solid; */
                                /* background-size: 100rem; */
                                background-color: #ff8523;
                                height: 70px;
                                padding: 4rem;
                            }
                            
                            .city_container {
                                /* padding: 4rem; */
                                padding: 20px 0;
                                /* the zero is the left and right of this  */
                            }
                            
                            #bio {
                                padding: 1rem;
                                margin: 10px 0;
                            }
                            
                            .submit_container padding: 4rem;
                            /* align-self: 1; */
                            /*
                
                                
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/